
<nav class="header__btnCon">
    <button [routerLink]="['home']" class="header__btn" >HOME</button>
    <button [routerLink]="['resume']" class="header__btn" >RÉSUMÉ</button>
    <button [routerLink]="['projects']"  class="header__btn" >PROJECTS</button>
    <button [routerLink]="['contact']"  class="header__btn" >CONTACT</button>
    <div class="header__time"><img ngSrc="icons8-globe-64.png" height="32" width="32" alt="globe icon"><p>{{
        currentTime }}</p></div>
  </nav>

 <!-- <div class="header__intro">
    <p>Hi there! I’m a freelance designer & developer from Canada with
    a love for all things web. I’m currently working with clients & collaborating
    with agencies worldwide.
  </p>
  </div>
  <div class="header__skill-wrapper">
  <div class="header__category">
    <p>Frontend</p>
    <p>Backend</p>
  </div>
  <div class="header__skills">
  <div class="header__dev">
    <p>Angular</p>
    <p>Javascript / Typescript</p>
    <p>HTML / CSS</p>
    <p>Photoshop</p>
  </div>
  <div class="header__design">
    <p>Java</p>
    <p>SQL</p>
    <p>Oracle DB</p>
  </div>
  </div>-->


