

.header__btn {
  background-color: transparent;
  outline: transparent;
  letter-spacing: 2px;
  font-weight: 500;
  border: 0;
  color: #FFFFFF;
}

.header__btn:hover{
  cursor: pointer;
}

* {
  box-sizing: border-box;
  color: var(--color);
}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  width: 99vw;
  background-color: var(--bg-underlay);
  border-radius: 5px;
  z-index: 99;

}




