<div class="bg-container">
<div class="app-container">
<div id="weather-display"></div>
<div class="hidden" id="dimmer"></div>
<!--<img id="sun" src="fyriia_a_forest_clearing_with_blue_clear_cloudless_sky_visible__a1b93ac5-9feb-4dd2-89a9-88483656572c.png">-->
<div id="target">
  <img id="default" src="default.gif" class="">
  <img id="default2" src="default2.gif" class="hidden">
  <img id="begging" src="begging.gif" class="hidden">
  <img id="happy" src="happy.gif" class="hidden">
  <img id="sad" src="sad.gif" class="hidden">
</div>

<img id="c2" class="cloud" src="clouds2.webp">
<img id="c3" class="cloud" src="clouds3.gif">
<img id="c4" class="cloud" src="clouds4.gif">
<img id="c2-2" class="cloud" src="clouds2.webp">
<img id="c3-2" class="cloud" src="clouds3.gif">
<img id="c4-2" class="cloud" src="clouds4.gif">
<img id="c5" class="cloud" src="clouds5.gif">

<img id="flakes1" class="flakes hidden" src="snowflakes.gif">
<img id="flakes2" class="flakes hidden" src="snowflakes.gif">
<img id="flakes3" class="flakes hidden" src="snowflakes2.gif">
<img id="flakes4" class="flakes hidden" src="snowflakes2.gif">

<img class="drops hidden" id="drops1" src="99b232976a51bfb16e19de1c2003e611.gif">
<img class="drops hidden" id="drops2" src="99b232976a51bfb16e19de1c2003e611.gif">
<img class="drops hidden" id="drops3" src="99b232976a51bfb16e19de1c2003e611.gif">

<div id="needs">
  <img class="hidden" id="need-water" src="sun.png">
  <img class="hidden" id="need-fire" src="cold-temperature-thermometer-svgrepo-com.svg">
  <img class="hidden" id="need-food" src="hungry-man-svgrepo-com.svg">
</div>

<div id="utilityBar">
  <img draggable="true" id="fire" src="fire-wood-svgrepo-com(1).svg">
  <img draggable="true" id="food" src="food-meat-beef-stake-svgrepo-com.svg">
  <img draggable="true" id="water" src="food-water-bottle-svgrepo-com(1).svg">
</div>

<!--<div id="buttons">
  <button id="rainy-button">Rain</button>
  <button id="snowy-button">Snow</button>
  <button id="cloudy-button">Clouds</button>
  <button id="sunny-button">Sun</button>
</div>-->
</div>
</div>
