
<img class="main-pic" src="projectsFlipped.png" alt="woman standing in front of whiteboard">
<div class="card-container">
  <div class="card">
    <a [routerLink]="['../graph']" class="card-link">
      <img src="Screenshot%202024-09-02%20151403.png" alt="Card" class="card-image">
      <div class="card-text">Graph Analysis Tool</div>
      <p class="card-desc"> Designed to help analyze and visualize
        graphs. It provides features for calculating graph-theoretical
        properties, including bridges, articulation points, connected components,
        and eccentricities.
        Upload an adjacency matrix or create
        one interactively.</p>
      <p class="tech-stack">#JavaScript #HTML #CSS<br>
         Refactored to work in Angular </p>
     <!-- <div class="tag-container"><img src="html.png" alt="">
        <img src="CSS3.png" alt="">
        <img src="JavaScript.png" alt="">
      </div>-->
    </a>
  </div>
  <div class="card">
    <a [routerLink]="['../tot']" class="card-link">
      <img src="Screenshot%202024-09-03%20222023.png" alt="Card Image" class="card-image">
      <div class="card-text">Ticket On Track</div>
      <p class="card-desc"> Developed as a team at HTL Spengergasse. Ticket On Track helps track ticket costs and CO₂ emissions.
        The database architecture was designed in Vertabelo and
        implemented in MySQL by me. I also implemented the
        fully functional user registration, verification and login systems.</p>
      <p class="tech-stack">#mySQL  #Vertabelo #PHP</p>
     <!-- <div class="tag-container"><img src="mysql.png" alt="">
        <img src="PHP.png" alt="">
      </div>-->
    </a>
  </div>
  <div class="card">
    <a [routerLink]="['../zym']" class="card-link">
      <img src="https://via.placeholder.com/150x100" alt="Card Image" class="card-image">
      <div class="card-text">Zymulator</div>
      <p class="card-desc">Zymulator is tiny virtual pet simulator inspired
        by the classic Tamagotchi. You take care of Zym, a puppy. The app also integrates with OpenWeather's
        One Call API to display real-time weather conditions based on the user's location.</p>
      <p class="tech-stack">#JavaScript #HTML #CSS<br>
        Refactored to work in Angular </p>
     <!-- <div class="tag-container"><img src="JavaScript.png" alt="">
        <img src="html.png" alt="">
        <img src="CSS3.png" alt="">
      </div>-->
    </a>
  </div>
</div>


