<div class="card-container">
  <div class="card">
    <a [routerLink]="['../graph']" class="card-link">
      <img src="https://via.placeholder.com/300x200" alt="Card Image" class="card-image">
      <div class="card-text">Graph Application</div>
    </a>
  </div>
  <div class="card">
    <a [routerLink]="['../zym']" class="card-link">
      <img src="https://via.placeholder.com/300x200" alt="Card Image" class="card-image">
      <div class="card-text">Zymulator</div>
    </a>
  </div>
  <div class="card">
    <a [routerLink]="['../tot']" class="card-link">
      <img src="https://via.placeholder.com/300x200" alt="Card Image" class="card-image">
      <div class="card-text">Ticket On Track</div>
    </a>
  </div>
</div>
