<img class="main" src="contactsNew.png" alt="">
<h1>Want to get in touch?</h1>
<div class="contact-form-container">

  <form (ngSubmit)="onSubmit(contactForm)" #contactForm="ngForm">
    <div class="form-group">
      <label for="name">Name</label>
      <input
        type="text"
        id="name"
        class="form-control"
        ngModel
        name="name"
        required
        #name="ngModel"
        placeholder="Your Name"
      />
    </div>

    <div class="form-group">
      <label for="email">Email</label>
      <input
        type="email"
        id="email"
        class="form-control"
        ngModel
        name="email"
        required
        email
        #email="ngModel"
        placeholder="Your Email"
      />
    </div>

    <div class="form-group">
      <label for="message">Message</label>
      <textarea
        id="message"
        class="form-control"
        rows="10"
        ngModel
        name="message"
        required
        #message="ngModel"
        placeholder="Your Message"
      ></textarea>
    </div>

    <button class="btn btn-primary" type="submit" [disabled]="!contactForm.valid">
      Send Message
    </button>
  </form>
</div>
<div class="contact-add-container">
  <div class="wami"> <p> Email me directly at <br>Contact&#64;myMail.com</p><img src="icons8-email-50.png" alt=""></div>
  <div class="wami"> <p>Visit my Github page</p><img src="icons8-github-30.png" alt=""> </div>


</div>
